*{
	margin: 0;
	padding: 0;
}
html{
	font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif
}
a{
	cursor: pointer;
}
header{
	position: fixed;
	top: 0;
	background-image: url("img/backgroundimg.jpg");
	background-size: cover;
	background-attachment:fixed;
}
.header_title{
	text-align: center;
	float: left;
}
.logo{
	width: 30%;
	margin: 10px 0;
}

.side_logo{
	width: 8%;
	margin: 20px 20px;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html,body {
	height: 100%;
}
body {
	font-size: 14px;
	font-family: 'Lato','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}


#container {
	margin-left: 0;
	transition: all 0.2s;
	/* -moz-transition: margin-left .25s linear;
	-webkit-transition: margin-left .25s linear;
	transition: margin-left .25s linear; */
}

#sidebar {
	padding-top: 60px;
	width: 260px;
	height: 100%;
	position: fixed;
	color: #afc3f2;
	background: #033560;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
	z-index: -1;
}

#global-nav ul {
	list-style: none;
	margin-left: 0;
}
#global-nav > ul > li {
	position: relative;
}

#global-nav a {
	color: #aeb4cb;
	text-decoration: none;
	display: block;
	padding: 17px;
	-moz-transition: color .3s linear;
	-webkit-transition: color .3s linear;
	transition: color .3s linear;
}
#global-nav .sub-menu.is-active > a,
#global-nav a:hover {
	color: #fff;
	/*background: #fff;*/
}


/* sub-menu icon */
#global-nav .sub-menu-head {
	position: relative;
}
#global-nav .sub-menu-head:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 18px;
	margin: auto;
	vertical-align: middle;
	width: 8px;
	height: 8px;
	border-top: 1px solid #aeb4cb;
	border-right: 1px solid #aeb4cb;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);

	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#global-nav .sub-menu.is-active > a:after,
#global-nav .sub-menu-head:hover:after {
	border-color: #fff;
}

#global-nav .is-active .sub-menu-head:after {
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
/* sub-menu */
#global-nav .sub-menu-nav {
	background: #032f55;

	display: none;
	padding: 10px 0;

	/*-moz-transition: all .4s ease;*/
	/*-webkit-transition: all .4s ease;*/
	/*transition: all .4s ease;*/
}


#global-nav .sub-menu-nav a {
	color: #aeb4cb;
	padding: 11px 15px;
}
#global-nav .sub-menu-nav a:hover {
	color: #fff;
}


/* nav-toggle */
#nav-toggle {
	position: fixed;
	top: 15px;
	left: 15px;
	height: 32px;
	cursor: pointer;
}
#nav-toggle > div {
	position: relative;
	width: 32px;
}
#nav-toggle span {
	width: 100%;
	height: 2px;
	left: 0;
	display: block;
	background: #033560;
	position: absolute;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}

/* #nav-toggle close */
#nav-toggle span:nth-child(1) {
	top: 0;
	
	/* -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg); */
	
}
#nav-toggle span:nth-child(2) {
	top: 11px;
	
	/* width: 0;
	left: 50%; */
	
}
#nav-toggle span:nth-child(3) {
	top: 22px;
	
	/* -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg); */
	
}

/* 
.open #nav-toggle span:nth-child(1) {
	top: 0;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	transform: rotate(0);
}
.open #nav-toggle span:nth-child(2) {
	width: 100%;
	left: 0;
}
.open #nav-toggle span:nth-child(3) {
	top: 22px;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	transform: rotate(0);
} */



/* z-index */
#nav-toggle {
	z-index: 1000;
}
#container {
	z-index: 900;
}

/* open */
.open #container {
	margin-left: 260px;
	position: relative;
	
	/* -moz-transition: margin-left .25s linear;
	-webkit-transition: margin-left .25s linear;
	transition: margin-left .25s linear; */
}

.open #nav-toggle span {
	background: #fff;
}

@media screen and (max-width: 900px) {
	#container {
		margin-left: 0;
		-moz-transition: margin-left .25s linear;
		-webkit-transition: margin-left .25s linear;
		transition: margin-left .25s linear;
	}

	#nav-toggle span {
		background: #033560;
	}
	.open #nav-toggle span {
		background: #fff;
	}

	#sidebar {
		left: -260px;
		z-index: 910;
		-webkit-transition: .35s ease-in-out;
		-moz-transition: .35s ease-in-out;
		transition: .35s ease-in-out;
	}
	.open #sidebar {
		left: 0;
	}
} 
@media screen and (max-width: 400px) {

}
main{
	overflow: auto;
	padding: 10% 0 0 0;
	background-image: url("img/backgroundimg.jpg");
	background-size: cover;
	background-attachment:fixed;
}
#inner{
	margin-top:-100px;
	padding-top: 120px;
}
.button_aria{
	padding-top: 100px;
}
.box{
	margin: 0% 15%;
	padding: 40px;
}
.box_two{
	margin: 0% 15%;
	padding: 40px;
}
.box_two a{
	text-decoration:none;
}
.box a{
	text-decoration:none;
}
.color{
	background-color: rgba(247,247,12,0.4);
}
.color_two{
	background-color: rgba(16,239,122,0.5);
}
.color_three{
	background-color: rgba(250,250,250,0.5);
}
.title{
	font-size: 1.7rem;
	margin: 20px;
	text-align: center;
}
.title a{
	color: black;
}
.title_two{
	font-size: 1.7rem;
	margin: 20px 20px 0 20px;
	text-align: center;
}
.title_two a{
	color: black;
}
.sub_title{
	font-size: 1.3rem;
	margin-bottom: 20px;
	text-align: center;
}
.sub_title a{
	color: black;
}
.logo_one{
	width: 15%;
	float: left;
	margin: 10px;
}
.logo_two{
	width: 20%;
	float: left;
	margin: 10px;
}
.logo_three{
	width: 30%;
	float: left;
	margin: 10px 10px 15px 10px;
}
.text{
	font-size: 1.2rem;
}
.access{
	text-align: right;
	margin: 20px 10px 0 10px;
}
.unit{
	margin: 0 10px;
	text-align: right;
}
footer{
	width: 100%;
	position: sticky;
	bottom: 0; 
    text-align: right;
    background-image: url("img/backgroundimg.jpg");
	background-size: cover;
	background-attachment:fixed;
}
footer p{
	display: block;
	padding: 30px 20px 0 10px;
}
i{
	color: black;
}
.mail{
	padding-bottom: 10px;
}
footer a{
	padding: 0 20px 0 10px;
}